<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" th:object="${boardForm}">
    <form name="frmSave" th:action="@{/board/save}" autocomplete="off" method="POST">
        <input type="hidden" name="mode" value="write">
        <input type="hidden" name="bId" value="">

        <th:block th:replace="~{front/board/_form}"></th:block>

        <div class="btns">
            <button type="reset">다시입력</button>
            <button type="submit">작성하기</button>
        </div>
    </form>
</main>
</html>